# vs-code
.vscode/

#env
.env

#testing file
src/test/java/com/batavia/orm/generator/script-to-file-generator-tests/up-script-test.sql
src/test/java/com/batavia/orm/generator/script-to-file-generator-tests/down-script-test.sql

# maven
bin/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.settings/
